body {
    margin: 10;
    padding: 30;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
  }
  
#card input#newcard {
    height: 25px;
    width: 175px;
    font-size: 1.3em;
    border-right: none;
    letter-spacing: 0.1em;
  }

  p {
    margin-top: 5px;
  }