{% extends "layout.html" %}
{% block content %}

<div class = "site-instruction">
    <h3>Add cards</h3>
    <p id = "instruction">Enter celebrity names, fictional characters, your favorite food -- whatever you want your friends to guess. </p>
    <p id = "instruction">Add five cards per person for typical game play, but adjust for shorter / longer games.</p>
</div> 
<div class = "site-options">
    <form id = "add_cards" method="POST" action="/{{ gamename }}/add_one_card/">
        <span class = "site-options1">
            <input type="text" name="newcard" placeholder="enter new card" required><br>
        </span>
        <span class = "site-options2">
            <input type="submit" name="submit" id="addcard" value="Add">
        </span>
    </form>
    {% for c in cards_added %}
        <p>{{ c }}</p>
    {% endfor %}
</div>
<div class = "site-submit">
    <form id = "complete_add_cards" method="GET" action="/{{ gamename }}/">
        <button type="submit" id="finished">I'm finished adding cards</button>
    </form>
</div>
<div class = "site-status">
    <p id = "status">Currently {{ numcardstotal }} cards total in pack</p>
</div>

{% endblock %}