<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form id = "card" method="POST" action="/update">
            New Card: <input type="text" name="newcard" required><input type="submit" name="submit" value="Add">
        </form>
        {{ result }}
        <p><a href = "/">&lt;- Back</a><br></p>
    </body>
</html>