{% extends "layout.html" %}
{% block content %}
    <div class = "site-instruction">
        <p id="instruction">Give your game a unique name and select your card pack. Choose Custom to write your own cards.</p>
    </div>

    <div class = "site-options">
        <form id = "create-game" method="POST" action="/build_new_game/">
            <input type="text" name="gamename" placeholder="enter game name" class = "game-text-input" required><br>
            <input type="radio" name="cardpack" id="custom" value="custom" checked>
            <label for="custom">Custom (recommended)</label><br>
            <input type="radio" name="cardpack" id="default" value="default">
            <label for="default">Default</label><br>
    </div>
    <div class = "site-submit">
            <input type="submit" name="submit" class="game-submit" value="Create">
        </form>
    </div>  

{% endblock %}