<html>
    <head>
        <title>Word Bank</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset=utf-8> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id = "copyright" >
            &copy; Copyright 2020 by <a href="http://www.clairegerson.com/" target="_blank">me</a>.<br>
        </div>
        {% if gamename is defined %}
        <p id = "instruction">Share this game link and tell friends to enter <b>{{ gamename }}</b></div>
        {% endif %}
        <h1><a href = "/">Word Bank</a></h1>
        
        {% block content %} {% endblock %}
        </div>
    </body>
</html>

{% block scripts %}{% endblock %}