<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<html>
    <head>
        <title>Word Bank</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset=utf-8> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id = "copyright" >
            &copy; Copyright 2020 by <a href="http://www.clairegerson.com/" target="_blank">me</a>.<br>
        </div>
        {% if game_name is defined %}
        <div id = "header">Your unique game name: <b>{{ game_name }}</b></div>
        <h1><a href = "/{{ game_name }}">Word Bank</a></h1>
        {% else %}
        <h1><a href = "/">Word Bank</a></h1>
        {% endif %}
        {% block content %} {% endblock %}
        </div>
    </body>
</html>
