<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<html>
    <head>
        <title>Word Bank</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset=utf-8> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class = "site-main">
            <header class = "site-header">
                {% if gamename is defined %}
                <h1 class = "site-title"><a href = "/{{ gamename }}/">Word Bank</a></h1>
                {% else %}
                <h1 class = "site-title"><a href = "/">Word Bank</a></h1>
                {% endif %}
            </header>
                {% block content %} {% endblock %}
            <footer class = "site-footer">
                {% if gamename is defined %}
                <p id = "instruction">Share this game link and tell friends to enter <b>{{ gamename }}</b>
                {% endif %}
                <div id = "copyright">
                    &copy; Copyright 2020 by <a href="http://www.clairegerson.com/" target="_blank">me</a>
                </div>
            </footer>
            <div class = "site-nav">
            </div>
        </div>
    </body>
</html>

{% block scripts %}{% endblock %}